site_name: Elite Home Repair
site_url: https://www.nebraskaremodels.com
repo_url: https://github.com/elitehomerepair/yes
repo_name: elitehomerepair/yes
theme:
  name: material
  icon:
    logo: simple/blockchaindotcom
    repo: fontawesome/brands/git
    edit: material/pencil
    view: material/eye

  language: en
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.instant  # Needs site_url: field filled in
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - toc.follow
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - content.action.edit
    - content.action.view

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: elitehomerepair/yes
      branch: main

markdown_extensions:
  - toc:
      permalink: true

copyright: Copyright &copy; 2023 - 2024 All the Tonys

extra:
  generator: false
